<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Password Security Checker - SRC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='zxcvbn.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='image.png') }}" class="logo">
        <h1>Koliko časa bi heker potreboval, da razbije vaše geslo?🔒</h1>
        <h3>Dobrodošli v programu za preverjanje varnosti gesel!</h3>
        <p>
            Ta spletna aplikacija vam omogoča, da hitro in enostavno preverite, kako varno je vaše geslo.
            Uporablja napredno analizo, ki oceni moč gesla glede na dolžino, kompleksnost in pogoste vzorce, ki jih napadalci uporabljajo.
            Ob vnosu gesla vam aplikacija v realnem času prikaže število znakov, vrsto uporabljenih znakov ter približen čas, ki bi ga potreboval heker za razbitje gesla.
            Na koncu prejmete tudi jasne predloge, kako svoje geslo še izboljšati.
            </p>

        <form method="POST" id="passwordForm">
            <label for="password">Vpišite vaše geslo:</label>
            <input type="password" id="password" name="password" required autocomplete="off">

            <button type="button" onclick="generateAndFillPassword()">🔄 Ustvari močno geslo</button>
            <button type="button" id="toggleVisibility" onclick="togglePasswordVisibility()">👁️ Pokaži geslo</button>

            <div class="strength-bar"><div id="strengthBar"></div></div>

            <div class="password-feedback">
                <p id="charCount">Število znakov: 0</p>
                <p id="lowerCount">Male črke: 0</p>
                <p id="upperCount">Velike črke: 0</p>
                <p id="numberCount">Številke: 0</p>
                <p id="specialCount">Posebni znaki: 0</p>
            </div>

            <input type="hidden" name="zxcvbn_result" id="zxcvbn_result">
            <input type="hidden" name="entropy" id="entropy_hidden">
            <input type="hidden" name="fulfilled_conditions" id="fulfilled_hidden">
            <input type="hidden" name="unfulfilled_conditions" id="unfulfilled_hidden">

            <button type="submit" id="submitButton">✅ Preveri moje geslo zdaj</button>
            
        </form>
    </div>
    <footer style="text-align:center; margin-top: 40px; font-size: 14px; color: #777;">
      <p>🔐 Ta program ne shranjuje vaših gesel v izvirni obliki. Vsi vnosi se obdelujejo lokalno in varno.</p>
    <p>Projekt razvija ekipa oddelka za kibernetsko varnost SRC d.o.o.</b>
    </footer>
</body>
</html>